//support-for-ie ?= false
//vendor-prefixes ?= webkit official
//vendors = webkit official

//@import('nib');
fontHeading = 'Montserrat', sans-serif
fontDefault = 'Lora', sans-serif;
colorDefault = #474747
colorHeading = #2a2a32


baseLineHeight = 1.5
leading = baseLineHeight * 1rem
scale = 1.4
primaryColor = #2456fe;

baseFontSize = 16
//fnc to convert px to em
em(amount)
  amount = amount/baseFontSize
  unit(amount, "rem")

/*
[Table of contents]
1. Base
2. Typography

*/


/** ---- Base ---- **/
html
  font-size 100%;

@media all and (max-width: 768px)
  html
    font-size: 87.5%;

body {
  font-size: 1em;
  line-height: 1.625em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family fontDefault
  color: colorDefault;
  font-weight: 400;
  overflow-x hidden
}
img {
  max-width 100%;
  height: auto;
}

ul,
ol
  margin-top leading
  margin-bottom leading
  li
    line-height leading

  ul,
  ol
    margin-top 0
    margin-bottom 0

* {
  box-sizing border-box
}

a {
  text-decoration none;
  color: primaryColor
}

/** ---- Typography ---- **/
p
  line-height leading
  margin-top 0
  margin-bottom leading
  font-size em(16px)
pre
  background: #f5f5f5;
  color: #666;
  font-family: monospace;
  font-size: em(14px);
  margin: em(20px) 0;
  overflow: auto;
  padding: em(20px);
  white-space: pre-wrap;
  word-wrap: break-word;
table,
address {
  margin-bottom 1.5rem;
}


blockquote
  font-style italic
  font-size: 1.5em;
  font-weight: normal;
  margin:0 0 16px;
  line-height 1.75em;
  word-spacing 2px;
  color: #7c7c7c

blockquote p
  font-style italic
  padding-left em(20px)
  font-size: 1.2rem;
  line-height 2rem;
  border-left: em(5px) solid #ccc;


span.author-name
  font-size 1.1rem;

h1,
h2,
h3,
h4,
h5,
h6
  font-family fontHeading
  margin-top 0
  margin-bottom leading
  line-height leading
  color: colorHeading
  font-weight 400

h1
  font-size 2 * scale * 1rem
  line-height 2.5 * leading
  //margin-top 2 * leading

h2
  font-size 1.5 * scale * 1rem
  line-height 2 * leading

h3
  font-size 1*scale*1rem

h4
  font-size (scale/1.5)*1rem

h5
  font-size (scale/1.8)*1rem
  text-transform uppercase

h6
  font-size (scale/2)*1rem
  text-transform uppercase

@media all and (max-width: 768px)
  h1
    font-size 2em;

/* Tables */
table {
  border-bottom: 1px solid #ededed;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: em(14px);
  line-height: 2;
  margin: 0 0 1.5rem;
  width: 100%;
}

caption,
th,
td {
  font-weight: normal;
  text-align: left;
}

caption {
  font-size: em(16px);
  margin: em(20px) 0;
}

th {
  font-weight: bold;
  text-transform: uppercase;
}

td {
  border-top: 1px solid #ededed;
  padding: em(6px) em(10px) em(6px) 0;
}

code
  vertical-align bottom

.lead
  font-size (scale/1.2) * 1rem;
  color: #787878;
  line-height 1.8rem

h2 + p.lead
  margin-top em(-10px);

dl {
  margin: 0 em(20px);
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 0 em(20px);
}

dt,
p strong {
  color: #111;
}

/** ---- Height ---- **/

.height-100,
.height-90,
.height-80,
.height-70,
.height-60,
.height-50,
.height-40,
.height-30,
.height-20,
.height-10 {
  height: auto;
  padding: 9em 0 7em;
}

@media all and (max-width: 767px) {
  .height-100,
  .height-90,
  .height-80,
  .height-70,
  .height-60,
  .height-50,
  .height-40,
  .height-30,
  .height-20,
  .height-10 {
    height: auto;
    padding: 8em 0 6em;
    text-align: center;
  }
}
@media all and (min-height: 600px) and (min-width: 767px) {
  .height-10 {
    height: 10vh;
  }
  .height-20 {
    height: 20vh;
  }
  .height-30 {
    height: 30vh;
  }
  .height-40 {
    height: 40vh;
  }
  .height-50 {
    height: 50vh;
  }
  .height-60 {
    height: 60vh;
  }
  .height-70 {
    height: 70vh;
  }
  .height-80 {
    height: 80vh;
  }
  .height-90 {
    height: 90vh;
  }
  .height-100 {
    height: 100vh;
  }
}

/** ---- Bg overlay ---- **/
[data-bg-overlay]:after {
  content: '';
  position absolute
  left 0;
  top 0;
  width 100%
  height 100%
  background-color #000;
  z-index -1
}
[data-bg-overlay="1"]:after {
  opacity .1;
}
[data-bg-overlay="2"]:after {
  opacity .2;
}
[data-bg-overlay="3"]:after {
  opacity .3;
}
[data-bg-overlay="4"]:after {
  opacity .4;
}
[data-bg-overlay="5"]:after {
  opacity .5;
}
[data-bg-overlay="6"]:after {
  opacity .6;
}
[data-bg-overlay="7"]:after {
  opacity .7;
}
[data-bg-overlay="8"]:after {
  opacity .8;
}
[data-bg-overlay="9"]:after {
  opacity .9;
}

.bg-overlay--white:after
  background-color #fff;
.bg-overlay--color:after
  background-color primaryColor

/** ---- Section ---- **/
section
  position: relative
  overflow: hidden
  padding 4.375em 0;

image-holder,
.parallax {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.color--white
  color: #fff;
  h1,h2,h3,h4,h5,h6,p,span,a
    color: #fff;

.bg--grey
  background-color #f4f4f4

.bg--dark
  background-color #111111

.bg--color
  background-color primaryColor



/** ---- Navigation ---- **/
.main-header {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: em(60px);
  background-color: #ffffff;
  /* Force Hardware Acceleration */
  transform: translateZ(0);
  will-change: transform;
  transition: transform .5s;
}
.main-header::after {
  clear: both;
  content: "";
  display: block;
}
.main-header.is-hidden {
  transform: translateY(-100%);
}
@media only screen and (min-width: 1024px) {
  .main-header {
    height: em(80px);
  }
}

.header--absolute
  position absolute

.header--transparent
  background-color transparent

.main-header .logo,
.main-header .nav-trigger {
  position: absolute;
  top: 50%;
  bottom: auto;
  transform: translateY(-50%);
}

.main-header .logo {
  left: 5%;
}
.main-header .logo a, .main-header .logo img {
  max-height 25px;
  display: block;
}

.main-header .logo img.logo--light {
  display: none
}

.header--white .logo img.logo--light {
  display block
}
.header--white .logo img.logo--dark {
  display none
}


.main-header .nav-trigger {
  /* vertically align its content */
  display: table;
  height: 100%;
  padding: 0 1em;
  font-size: 1rem;
  text-transform: uppercase;
  color: #25283D;
  font-weight: bold;
  right: 0;
}

.main-header .nav-trigger span {
  /* vertically align inside parent element */
  display: table-cell;
  vertical-align: middle;
}
.main-header .nav-trigger em, .main-header .nav-trigger em::after, .main-header .nav-trigger em::before {
  /* this is the menu icon */
  display: block;
  position: relative;
  height: 2px;
  width: 22px;
  background-color: #25283D;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.main-header.header--white .nav-trigger em, .main-header.header--white .nav-trigger em::after, .main-header.header--white .nav-trigger em::before {
  background-color: #fff;
}
.main-header .nav-trigger em {
  /* this is the menu central line */
  margin: 6px auto 14px;
  transition: background-color .2s;
}
.main-header .nav-trigger em::before, .main-header .nav-trigger em::after {
  position: absolute;
  content: '';
  left: 0;
  transition: transform .2s,
}
.main-header .nav-trigger em::before {
  /* this is the menu icon top line */
  transform: translateY(-6px);
}
.main-header .nav-trigger em::after {
  /* this is the menu icon bottom line */
  transform: translateY(6px);
}
@media only screen and (min-width: 1024px) {
  .main-header .nav-trigger {
    display: none;
  }
}

.main-header.nav-open .nav-trigger em {
  /* transform menu icon into a 'X' icon */
  background-color: rgba(255, 255, 255, 0);
}
.main-header.nav-open .nav-trigger em::before {
  /* rotate top line */
  transform: rotate(-45deg);
}
.main-header.nav-open .nav-trigger em::after {
  /* rotate bottom line */
  transform: rotate(45deg);
}

.primary-nav {
  display: inline-block;
  float: right;
  height: 100%;
  padding-right: 5%;
}
.primary-nav > ul {
  list-style: none;
  padding-left 0;
  position: absolute;
  z-index: 2;
  top: em(60px);
  left: 0;
  width: 100%;
  background-color: #ffffff;
  display: none;
  box-shadow: 0 14px 20px rgba(0, 0, 0, 0.2);
}
.primary-nav > ul a {
  /* target primary-nav links */
  display: block;
  height: em(50px);
  line-height: em(50px);
  padding-left: 5%;
  color: #25283D;
  font-size: 1rem;
  border-top: 1px solid #f2f2f2;
}

@media only screen and (min-width: 1024px)
  .primary-nav {
    /* vertically align its content */
    display: table;
  }
  .primary-nav > ul {
    /* vertically align inside parent element */
    display: table-cell;
    vertical-align: middle;
    /* reset mobile style */
    position: relative;
    width: auto;
    top: 0;
    padding: 0;
    background-color: transparent;
    box-shadow: none;
  }
  .primary-nav > ul::after {
    clear: both;
    content: "";
    display: block;
  }
  .primary-nav > ul li {
    display: inline-block;
    float: left;
    margin-right: 1em;
    padding: 0 0.5em;
  }

  .primary-nav > ul li:last-of-type {
    margin-right: 0;
  }
  .primary-nav > ul a {
    /* reset mobile style */
    height: auto;
    line-height: normal;
    padding: 10px 0;
    border: none;
  }

  //sub nav
  .primary-nav > ul > li
    position relative
    &:hover > .sub-nav
      visibility visible;
      opacity 1
      transform translateX(-25%) translateY(0%);
  .primary-nav > ul ul.sub-nav
    visibility hidden;
    opacity .3;
    position absolute;
    min-width 160px;
    background-color rgba(0,0,0, .98);
    text-align left;
    padding 10px 10px;
    left: 0;
    transform translateX(-25%) translateY(10px);
    transition opacity .4s ease, transform .4s ease;
    li
      padding 4px 4px;
    a
      color: #f4f4f4;
      font-size em(13px);

@media only screen and (max-width: 1024px) {
  .nav-open .primary-nav ul {
    top: 2em;
  }
}
.nav-open .primary-nav ul,
.primary-nav ul:target {
  display: block;
}
@media only screen and (min-width: 1024px) {
  .nav-open .primary-nav ul,
  .primary-nav ul:target {
    display: table-cell;
  }

  .header--white .primary-nav ul li a{
    color: #fff;
  }
}


/** ---- Sliders ---- **/
.slider
  list-style none
  padding-left 0;
  min-width: 0;
  min-height: 0;
//
//.slick-slide
//  display table-cell

.slick-slide,
.slick-slide *{
  outline: none !important;
}

.animated-headline:after {
  content "|"
}


/** ---- Helpers ---- **/
.font--alternative
  font-family fontDefault
.uppercase
  text-transform uppercase

.text-center
  text-align center
.text-left
  text-align left
.text-right
  text-align right

position--relative
  position relative

.flex-align
  display: flex;
  align-items: center;
  justify-content: center;

#particles-js {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

/** ---- Icons ---- **/
.icon--lg {
  font-size em(64px);
}

.icon--md {
  font-size em(48px);
}

.icon--sm {
  font-size em(32px);
}


/** ---- Buttons ---- **/
.button {
  font-family fontHeading
  cursor pointer
  min-width: em(100px);
  display: inline-block;
  margin: 1em;
  margin-left 0;
  background: none;
  color: inherit;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  border-radius em(40px);
  border 2px solid;
  padding: 1rem 2rem;
  font-size em(12px);
  text-transform uppercase
  letter-spacing 1px;
}
.button:focus {
  outline: none;
}
.button > span {
  vertical-align: middle;
}

.button--filled
  background-color primaryColor
  color #fff;

.button--square
  border-radius 4px;

/*Effect Aylen */
.button.button--effect {
  overflow: hidden;
  transition: color 0.3s;
}
.button--effect::before,
.button--effect::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 100%;
  left: 0;
  z-index: -1;
  transition: transform 0.3s;
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}

.button--effect::before {
  background: primaryColor;
  opacity .5;
}
.button--effect::after {
  background: primaryColor;
}
.button--effect:hover {
  color: #fff;
}
.button--effect.button--filled:after {
  background: #fff;
}
.button--effect.button--filled:hover {
  color: colorDefault;
}

.button--effect:hover::before,
.button--effect:hover::after {
  transform: translate3d(0, 100%, 0);
}
.button--effect:hover::after {
  transition-delay: 0.175s;
}

.button--lg {
  padding: 1.3rem 2.5rem;
  font-size em(14px);
}
.button--sm {
  padding: .5rem 1.5rem;
  font-size em(9px);
}

.hero-scroll-button {
  position absolute;
  bottom 20px;
  margin auto
}

/** ---- Forms & inputs ---- **/
select
textarea,
input[type]
  font-family fontDefault
  width 100%;
  margin-bottom leading
  height 3.3em;
  padding 0 1.5em
  border 0;
  background-color #f8f8f8;
  border-radius 20px
  color: colorDefault;

select
textarea,
input[type]
  &:focus
    color: colorDefault;
    outline: 0;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.05);

textarea
  min-height em(150px);
  padding 1em;

input[type]::-webkit-input-placeholder
textarea::-webkit-input-placeholder
  color: #9b9b9b;

form
  text-align left
  label
    text-transform uppercase
    font-family fontHeading
    font-size em(11px)
    letter-spacing 1px;
    margin 0 0 em(10px) em(10px)
    display block
    color: colorHeading

textarea:-webkit-autofill,
input:-webkit-autofill
  -webkit-box-shadow: inset 0 0 0 50px #f8f8f8;
  -webkit-text-fill-color: #999;
  color: #999;

/** ---- Features ---- **/
.feature
  margin-top em(24px)
  &.color i
    color: primaryColor;

.feature-1
  padding 0 em(12px)
  .feature__icon
    margin-bottom em(16px)
  h3,h4,h5
    margin-bottom em(15px)

.feature-2
  .feature__icon
    float left
    margin-top 5px;
  .feature__body
    margin-left: em(64px)
    h3,h4
      margin-bottom em(10px)

.feature-3
  border: 1px;
  text-align center;
  padding em(10px) em(50px)
  box-shadow 0 0 10px 3px rgba(0, 0, 0, .01)
  transition .1s;
  .feature__icon
    margin-bottom em(16px)
  .feature__body
    h3,h4
      font-size em(18px)
    h4+p
      margin-bottom 0
      //margin-bottom 0;

/** ---- Progress bars ---- **/

.chartbox {
  margin-bottom: em(20px)
}
.chartbox .chartbox__desc {
  margin-bottom: em(10px)
  text-align: left;
  font-size: em(13px)
}
.chartbox .chartbox__bar {
  width: 100%;
  height: 3px;
  background-color: #e5e5e5;
  position: relative;
}
.chartbox .chartbox__bar .chartbox__bar-progress {
  background-color: primaryColor;
  height: 100%;
  width: 50%;
  transition: width 0.6s ease;
}

.chartbox .chartbox__bar .chartbox__bar-progress:after {
  content: attr(data-progress);
  display: inline-block;
  position: absolute;
  right: 0;
  top: em(-25px)
  font-size: em(13px)
}

/** ---- Image styles ---- **/


.halfscreen-image
  padding 0;
  display flex
  align-items stretch
  .container
    padding 13em 0;
  .image-holder
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;

@media only screen and (max-width: 768px)
  .halfscreen-image
    flex-direction column
    .container
      order: 2
      padding: 3em em(30px);

    .image-holder
      order 1
      height 20em;

@media only screen and (max-width: 992px) {
  .row.flex-align > [class*="col-"] > img {
    margin-bottom em(32px);
  }
}


  /** ---- Masonry items ---- **/
.masonry
  &.padding-none
    .masonry__item
      padding 0;
  &:not(.padding-none)
    .masonry__item
      padding em(15px)


.masonry__filter
  text-align center
  margin-bottom em(32px)
  ul
    padding-left 0;
    list-style none;
    li
      display inline-block
      padding 5px;
      cursor pointer
      margin-right em(30px)
      transition all .35s ease;
      position relative
      overflow hidden
      &:before
        content ''
        display block
        position absolute
        bottom 0;
        left 0;
        height: 1px;
        width 100%
        background-color primaryColor
        transition all .35s ease;
        transform translateX(-100%);
      &.active
        color: primaryColor
        &:before
          transform translateX(0);
      &:first-letter
        text-transform uppercase
      &:last-of-type
        margin-right 0;


/** ---- Hover elements ---- **/
.hover-element
  position relative
  overflow hidden
  &:before
    content: '';
    position absolute;
    width 100%;
    height 100%;
    //background-color rgba(0,0,0, .75);
    background-color rgba(36, 86, 254, 0.95);
    transition opacity .45s ease;
    opacity 0;
  .hover-element__media
    line-height 0;
  .hover-element__hidden
    text-align center;
    position absolute
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    transition all .35s ease;
    opacity 0;
    h3, span,em
      color: #fff;
    h3
      margin-bottom 5px;
    span, em
      font-size em(14px)
    .social
      margin-top 10px;
      a
        color: #fff;
        padding 5px;
        margin-right .5em
        i
          vertical-align middle
  &:hover
    &:before
      opacity 1;
    .hover-element__hidden
      opacity 1;
      transform: translate(-50%, -50%);

/** ---- Footer ---- **/
.footer
  height em(150px)
  padding 0 5%;
  display flex
  align-items center
  position relative
  width 100%
  box-shadow: 0 -4px 20px rgba(0, 0, 0, 0.05);
  .logo
    margin-right 2em;
    max-width 80px;
    margin-bottom -.3em;
  .social
    position absolute
    right 5%;
    a
      color: colorHeading
      padding 5px;
      margin-right .5em
      i
        vertical-align middle


.footer-nav
  ul
    vertical-align: middle;
    position: relative;
    width: auto;
    top: 0;
    padding: 0;
    background-color: transparent;
    box-shadow: none
    li
      display inline-block
      margin-right: 1.5em;
      a
        color: #25283d
        font-size em(16px)

@media all and (max-width: 1024px)
  .footer-nav
    display none
/** ---- Specials margins and paddings ---- **/
.padding--lg {
  padding: em(140px) 0;
}
.padding--md {
  padding: em(70px) 0;
}
.padding--sm {
  padding: em(40px) 0;
}
.padding--none {
  padding: 0;
}
.padding-top--none {
  padding-top: 0;
}
.padding-bottom--none {
  padding: 0;
}

.m-0 {
  margin: 0 !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.mb-8 {
  margin-bottom: em(8px)
}
.mb-16 {
  margin-bottom: em(16px)
}
.mb-24 {
  margin-bottom: em(24px)
}
.mb-30 {
  margin-bottom: em(30px)
}
.mb-32 {
  margin-bottom: em(32px)
}
.mb-40 {
  margin-bottom: em(40px)
}
.mb-48 {
  margin-bottom: em(48px)
}
.mb-56 {
  margin-bottom: em(56px)
}
.mb-64 {
  margin-bottom: em(64px)
}
.mb-128 {
  margin-bottom: em(128px)
}


/*loaders**/
.loader {
  width 100%;
  height 100%;
  background-color: #fff;
  position: fixed;
  z-index 999;
  pointer-events: none;
  transition .1s;
  overflow hidden
}

.loader-finish {
  opacity 0;
}

@keyframes cx {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    display: none;
  }
}

.loader3{
  position: relative;
  width: 150px;
  height: 20px;
  top: 45%;
  top: calc(50% - 10px);
  left: 25%;
  left: calc(50% - 75px);
}

.loader3:after{
  text-align center
  font-family fontHeading
  content: "LOADING ...";
  color: #333;
  font-weight: 200;
  font-size: 14px;
  letter-spacing 2px;
  position: absolute;
  width: 100%;
  height: 20px;
  line-height: 20px;
  left: 0;
  top: 0;
  background-color: #fff;
  z-index: 1;
}

.loader3:before{
  content: "";
  position: absolute;
  background-color: primaryColor;
  bottom: -15px;
  left: 0px;
  height: 5px;
  width: 0px;
  z-index: 0;
  opacity: 1;
  transform-origin:  100% 0% ;
  animation: loader3 5s ease-in-out infinite;
}

@keyframes loader3{
  0%{width: 0px;}
  70%{width: 100%; opacity: 1;}
  90%{opacity: 0; width: 100%;}
  100%{opacity: 0;width: 0px;}
}
